# 3)	Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = requests.get ('https://www.imdb.com/india/top-rated-indian-movies/')

In [3]:
soup = BeautifulSoup(url.content)

In [4]:
import pandas as pd
import numpy as np

movie_name=[]

for i in soup.find_all('td',class_='titleColumn'):
    movie_name.append(i.text.split())
    
name1 =np.array(movie_name)
for i in name1:
    del i[0]

for i in name1:
    del i[-1]

top_indian_movie = []    
for j in range (len (name1)):
    top_indian_movie.append(' '.join(name1[j]).split(','))
    
#print(top_indian_movie)

C:\Users\NEHA DESAI\AppData\Local\Temp\ipykernel_1796\1794175691.py:9: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  name1 =np.array(movie_name)

In [5]:
movie_rating=[]
for i in soup.find_all('td',class_='ratingColumn imdbRating'):
    movie_rating.append(i.text.split()) 

#movie_rating

In [6]:
movie_year=[]

for i in soup.find_all('td',class_='titleColumn'):
    movie_year.append(i.text.split()) 

year=[]
for i in movie_year:
    year.append(i[-1])

#year

In [7]:
print (len(top_indian_movie[0:100]),len(year[0:100]),len(movie_rating[0:100]))

100 100 100

In [8]:
#Top rated 100 movies
Top_100_indian_Movie_df = pd.DataFrame({'Top_100_Indian_Movie' : top_indian_movie[0:100], 'Movie_Rating' : movie_rating[0:100], 'Release_Year' : year[0:100]})
Top_100_indian_Movie_df

                     Top_100_Indian_Movie Movie_Rating Release_Year
0   [Ramayana: The Legend of Prince Rama]        [8.5]       (1993)
1            [Rocketry: The Nambi Effect]        [8.4]       (2022)
2                               [Golmaal]        [8.4]       (1979)
3                               [Nayakan]        [8.4]       (1987)
4                            [Anbe Sivam]        [8.4]       (2003)
..                                    ...          ...          ...
95                          [Jigarthanda]        [8.0]       (2014)
96                       [Kaakkaa Muttai]        [8.0]       (2014)
97                          [Ustad Hotel]        [8.0]       (2012)
98             [Theeran Adhigaaram Ondru]        [8.0]       (2017)
99          [Baahubali 2: The Conclusion]        [8.0]       (2017)

[100 rows x 3 columns]