# 2)	Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")
url

In [3]:
soup= BeautifulSoup(url.content)
#soup

In [4]:
import pandas as pd
import numpy as np

movie_name=[]

for i in soup.find_all('td',class_='titleColumn'):
    movie_name.append(i.text.split()) 

name1 = np.array (movie_name)
for i in name1:
    del i[0]
    name2 = name1
    
for j in name2:
    del j[-1]
    name = name2

top_movie=[]
for ele in range(len(name2)):
    top_movie.append(' '.join(name2[ele]))

#print(top_movie)

C:\Users\NEHA DESAI\AppData\Local\Temp\ipykernel_17848\95841281.py:9: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  name1 = np.array (movie_name)

In [5]:
movie_rating=[]
for i in soup.find_all('td',class_='ratingColumn imdbRating'):
    movie_rating.append(i.text.split()) 

#movie_rating

In [6]:
movie_year=[]

for i in soup.find_all('td',class_='titleColumn'):
    movie_year.append(i.text.split()) 

year=[]
#year = np.array (movie_year)
for i in movie_year:
    year.append(i[-1])

#print(year)

In [7]:
#Top rated 100 movies
print (len(top_movie[0:100]),len(year[0:100]),len(movie_rating[0:100]))

100 100 100

In [8]:
Top_100_Movie_df = pd.DataFrame({'Top_Movie' : top_movie[0:100], 'Movie_Rating' : movie_rating[0:100], 'Release_Year' : year[0:100]})
Top_100_Movie_df

                            Top_Movie Movie_Rating Release_Year
0            The Shawshank Redemption        [9.2]       (1994)
1                       The Godfather        [9.2]       (1972)
2                     The Dark Knight        [9.0]       (2008)
3               The Godfather Part II        [9.0]       (1974)
4                        12 Angry Men        [9.0]       (1957)
..                                ...          ...          ...
95                       Citizen Kane        [8.3]       (1941)
96                 Lawrence of Arabia        [8.3]       (1962)
97  M - Eine Stadt sucht einen Mörder        [8.3]       (1931)
98                 North by Northwest        [8.2]       (1959)
99                            Vertigo        [8.2]       (1958)

[100 rows x 3 columns]